@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base lg:text-lg;

    font-family: 'Red Hat Text', sans-serif;
  }

  h1 {
    @apply text-3xl font-bold lg:text-5xl;
  }

  h2 {
    @apply text-2xl font-medium lg:text-4xl;
  }

  h3 {
    @apply text-xl lg:text-3xl;
  }

  h4 {
    @apply text-lg lg:text-2xl;
  }

  input,
  textarea,
  select {
    @apply h-12 p-3 text-base border border-dawn focus:border-dusk-blue focus:border-2 focus:outline-none lg:text-lg;
  }

  label {
    @apply text-base font-light lg:text-lg;
  }

  ::-webkit-scrollbar {
    width: 0.85em;
  }

  ::-webkit-scrollbar-track {
    background: hsl(0 0% 100% / 1);
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(220 0% 69% / 1);
    border: 0.25em solid hsl(0 0% 100% / 1);
    border-radius: 100vw;
  }
}

@layer components {
  .page-container {
    @apply max-w-[1346px] ml-auto mr-auto pl-[35px] pr-[35px];
  }

  .page-container-small {
    @apply max-w-[1130px] ml-auto mr-auto pl-[35px] pr-[35px];
  }

  .body-normal {
    @apply text-base lg:text-lg;
  }

  .body-small {
    @apply text-sm lg:text-base;
  }

  .text-error {
    @apply body-small text-valentine-red;
  }

  .button {
    @apply h-12 px-4 py-2 text-xl font-bold text-white uppercase bg-bluish hover:bg-dusk-blue;
  }

  .red-button {
    @apply bg-valentine-red hover:bg-[#DA291C] text-white text-xl font-bold uppercase py-2 px-4 h-12;
  }

  .gray-button {
    @apply h-12 px-4 py-2 text-xl font-bold text-white uppercase bg-dawn hover:bg-zinc-500;
  }

  .hide-element {
    @apply hidden;
  }

  .show-element {
    @apply visible;
  }

  /* CSS Classes for book-a-seat.js Modals */
  /* ===================================== */

  body.active-modal {
    overflow-y: hidden;
  }

  .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
  }

  .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  .overlay {
    background: rgba(49, 49, 49, 0.8);
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }
}
