@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg lg:text-xl;
    
    font-family: 'Red Hat Text', sans-serif;
  }

  h1 {
    @apply font-bold text-4xl lg:text-6xl;
  }

  h2 {
    @apply font-medium text-3xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl lg:text-4xl;
  }

  h4 {
    @apply text-xl lg:text-3xl;
  }

  input, textarea, select {
    @apply border border-dawn focus:border-dusk-blue focus:border-2 focus:outline-none p-3;
  }

  label {
    @apply font-light text-base lg:text-lg;
  }
}

@layer components {
  .page-container {
    max-width: 1346px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .page-container-small {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
  }
  .body-normal {
    @apply text-lg lg:text-xl
  }

  .body-small {
    @apply text-base lg:text-lg;
  }
}